
<div class='container'>
    <div class ="row">
        <div class='col-md-6'>
            <h2>BURGERTIME!!</h2>
            <div>
                {{#each burger}}
                    {{#unless this.devoured}}
                        <div>
                            {{this.burger_name}}
                            <form action="burger/update/{{this.id}}?_method=PUT" method="POST">
                                <input type="hidden" name="devoured" value="1">
                                <button class = "btn" type="submit">EAT ME!</button>
                            </form>
                        </div>
                    {{/unless}}
                {{/each}}
            </div>
            <div class='col-md-6'>
                <h2>ADD A BURGER!</h2>
                <form class="create-update-form" action="/burger/create" method="POST">
                    <div class='form-group'>
                        <label for="newburger">Burger: </label>
                        <input type="text" id="newburger" name="burger">
                    </div>
                    <button class="btn" type="submit">ADD ANOTHER!</button>
                </form>
            </div>
            <div class ='col-md-6'>
                <ul>
                    {{#each burgers}}
                        {{#if this.devoured}}
                            <li>
                                {{this.burger_name}}
                            </li>
                        {{/if}}
                    {{/each}}
                </ul>
            </div>
            </div>
        </div>
    </div>